  <div class="login-logo" style="margin-top:-1%;">
    <a href="index.html">	
	Amura-OP ERP Employee Registeration</a> 
  </div>
  
  <form class="form-signin app-cam" action="index.html" style="margin-top:-2%;">
  
      <input type="text" class="form-control1" placeholder="Full Name" autofocus="">      
	  <select class="form-control1" style="background-color:black;color:white;">
      <option>Role</option>
      <option>admin</option>
	  <option>Finance Manager</option>
	  <option>PPC Manager</option>
	  <option>Sales Manager</option>
	  <option>Account Manager Lead</option>
	  <option>Account Manager</option>
	  </select>
	  <br/><br/>	  
	  <input type="text" class="form-control1" placeholder="Email" autofocus="">
      <input type="text" class="form-control1" placeholder="City/Town" autofocus="">
      <div class="radios">
        <label for="radio-01" class="label_radio">
            <input type="radio" checked=""> Male
        </label>
        <label for="radio-02" class="label_radio">
            <input type="radio"> Female
        </label>
	  </div>
	  <p> Enter your account details below</p>	
      <input type="password" class="form-control1" placeholder="Password">
      <input type="password" class="form-control1" placeholder="Re-type Password">
      <label class="checkbox-custom check-success">
          <input type="checkbox" value="agree this condition" id="checkbox1"> <label for="checkbox1">I agree to the Terms of Service and Privacy Policy</label>
      </label>
      <button class="btn btn-lg btn-success1 btn-block" type="submit">Submit</button>
      <div class="registration">
          Already Registered.
          <a class="" href="login.html">
              Login
          </a>
      </div>
  </form>