
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
				
				<!-- --> <em>Amura-</em><i><b>&mu;</b></i>ERP 
				<!--
				<img src="/images/amuraerp.png" width="34%" height="142%"/>
				-->
				</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-comments-o"></i><span class="badge">4</span></a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>Messages</strong>
							<div class="progress thin">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
							    <span class="sr-only">40% Complete (success)</span>
							  </div>
							</div>
						</li>
						<li class="avatar">
							<a href="#">
								<img src="/images/1.png" alt=""/>
								<div>New message</div>
								<small>1 minute ago</small>
								<span class="label label-info">NEW</span>
							</a>
						</li>
						<li class="avatar">
							<a href="#">
								<img src="/images/2.png" alt=""/>
								<div>New message</div>
								<small>1 minute ago</small>
								<span class="label label-info">NEW</span>
							</a>
						</li>
						<li class="avatar">
							<a href="#">
								<img src="/images/3.png" alt=""/>
								<div>New message</div>
								<small>1 minute ago</small>
							</a>
						</li>
						<li class="avatar">
							<a href="#">
								<img src="/images/4.png" alt=""/>
								<div>New message</div>
								<small>1 minute ago</small>
							</a>
						</li>
						<li class="avatar">
							<a href="#">
								<img src="/images/5.png" alt=""/>
								<div>New message</div>
								<small>1 minute ago</small>
							</a>
						</li>
						<li class="avatar">
							<a href="#">
								<img src="/images/pic1.png" alt=""/>
								<div>New message</div>
								<small>1 minute ago</small>
							</a>
						</li>
						<li class="dropdown-menu-footer text-center">
							<a href="#">View all messages</a>
						</li>	
	        		</ul>
	      		</li>
			    <li class="dropdown">
	        		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img src="/images/1.png"><span class="badge">9</span></a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header text-center">
							<strong>Account</strong>
						</li>
						<li class="m_2"><a href="#"><i class="fa fa-bell-o"></i> Updates <span class="label label-info">42</span></a></li>
						<li class="m_2"><a href="#"><i class="fa fa-envelope-o"></i> Messages <span class="label label-success">42</span></a></li>
						<li class="m_2"><a href="#"><i class="fa fa-tasks"></i> Tasks <span class="label label-danger">42</span></a></li>
						<li><a href="#"><i class="fa fa-comments"></i> Comments <span class="label label-warning">42</span></a></li>
						<li class="dropdown-menu-header text-center">
							<strong>Settings</strong>
						</li>
						<li class="m_2"><a href="#"><i class="fa fa-user"></i> Profile</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-wrench"></i> Settings</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-usd"></i> Payments <span class="label label-default">42</span></a></li>
						<li class="m_2"><a href="#"><i class="fa fa-file"></i> Projects <span class="label label-primary">42</span></a></li>
						<li class="divider"></li>
						<li class="m_2"><a href="#"><i class="fa fa-shield"></i> Lock Profile</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-lock"></i> Logout</a></li>	
	        		</ul>
	      		</li>
			</ul>
			<form class="navbar-form navbar-right">
              <input type="text" class="form-control" value="Search Client..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Client...';}">
            </form>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone-square nav_icon"></i>Client Directory<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="grids.html">Grid System</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						
						 <li>
                            <a href="#"><i class="fa fa-rocket nav_icon"></i>Sales<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="media.html">Media</a>
                                </li>
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						


					  <li>
                            <a href="#"><i class="fa fa-eye nav_icon"></i>Account Manager<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="forms.html">Basic Forms</a>
                                </li>
                                <li>
                                    <a href="validation.html">Validation</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						
						
                        <li>
                            <a href="#"><i class="fa fa-inr nav_icon"></i>Finance Team<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="graphs.html">Graphs</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                      
						
                        <li>
                            <a href="#"><i class="fa fa-anchor nav_icon"></i>PPC Team<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="basic_tables.html">Basic Tables</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                         <li>
                            <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="compose.html">Compose email</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="widgets.html"><i class="fa fa-flask nav_icon"></i>Upload Center</a>
                        </li>
                      
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        <div class="graphs">
		<div class="widget_head"> <a href="#">Clients</a> >> Kolte Patil</div>
		
		   <div class="widget_4">
		   	 <div class="col-md-4 widget_1_box1">
		   	 	<div class="coffee">
				<div class="coffee-top">
					<a href="#"><img class="img-responsive" src="/images/clnt/default.jpg" width="640" height="326" alt="">
					<div class="doe">
						<h6><b>Kolte Patil</b></h6>
						<p><b>Retainer</b></p>
					</div>
					<i style=""></i></a>
				</div>
				<div class="follow">
					<div class="col-xs-4 two">
						<p>Invoice</p>
						<span>1.5L</span>
					</div>
					<div class="col-xs-4 two">
						<p>Projects</p>
						<span>8</span>
					</div>
					<div class="col-xs-4 two">
						<p>Live Camp.</p>
						<span>3</span>
					</div>
					
					
					
					
					
					
					
					<div class="clearfix"> </div>
				</div>
				
				<a href="#"><div class="online-top">
						<div class="top-at">
							<img class="img-responsive" src="/images/2.png" alt="">
						</div>
						<div class="top-on">
							<div class="top-on1">
								<p>Ram Shekhar</p>
								<span>Digital Media Head</span>
							</div>
							<label class="round"> </label>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					</a>
					
						<a href="#"><div class="online-top">
						<div class="top-at">
							<img class="img-responsive" src="/images/3.png" alt="">
						</div>
					<div class="top-on">
							<div class="top-on1">
								<p>Sheetal Mahajan</p>
								<span>COO</span>
							</div>
							<!--<label class="round"> </label>
							-->
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div></a>
					
					
					
				
		       </div>
			   
		   	 </div>
		   	 <div class="col-md-4 stats-info3"> 
		   	 	<div class="online">
					
					
					<a href="#"><div class="online-top">
						<div class="top-at">
							<img class="img-responsive" src="/images/2.png" alt="">
						</div>
						<div class="top-on">
							<div class="top-on1">
								<p>Project: Make in India</p>
								<span>Chennai Pune Bombay</span>
							</div>
							<label class="round"> </label>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					</a>
					
					<a href="#"><div class="online-top">
						<div class="top-at">
							<img class="img-responsive" src="/images/2.png" alt="">
						</div>
						<div class="top-on">
							<div class="top-on1">
								<p>Service: Retainer</p>
								<span>SEO SMM Backlinks</span>
							</div>
							<label class="round"> </label>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					</a>
					

					
					<a href="#"><div class="online-top">
						<div class="top-at">
							<img class="img-responsive" src="/images/3.png" alt="">
						</div>
					<div class="top-on">
							<div class="top-on1">
								<p>Project: Ghar Bol</p>
								<span>Bombay Delhi</span>
							</div>
							<!--<label class="round"> </label>
							-->
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div></a>
					
					
					
					
					<!--
					
					<a href="#"><div class="online-top">
						<div class="top-at">
							<img class="img-responsive" src="/images/4.png" alt="">
						</div>
						<div class="top-on">
							<div class="top-on1">
								<p>Adipiscing</p>
								<span>Mistake</span>
							</div>
							<label class="round"> </label>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div></a>
					
					
					
					<a href="#"><div class="online-top online-top1">
						<div class="top-at">
							<img class="img-responsive" src="/images/1.png" alt="">
						</div>
						<div class="top-on">
							<div class="top-on1">
								<p>Denouncing</p>
								<span>Lorem</span>
							</div>
							<label class="round"> </label>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div></a>
					
					
					-->
					
					
				</div>
		   	 </div>
		   	 <div class="col-md-4 stats-info stats-info1">
                <div class="panel-heading">
                    <h4 class="panel-title">Company Description</h4>
                </div>
                <div class="panel-body panel-body2">
                    <ul class="list-unstyled">
                        <li>Website<div class="text-danger pull-right">www.koltepatil.com
						
						<!--
						<i class="fa fa-level-up"></i>
						-->
						
						</div></li>
                        <li>Phone<div class="text-success pull-right">9876543210
						<!--
						<i class="fa fa-level-up"></i>
						-->
						
						</div></li>
                        <li>Client Since<div class="text-success pull-right">2009
						<!--
						<i class="fa fa-level-up"></i>
						-->
						</div></li>
                        <li>E-mail<div class="text-success pull-right">abc@gmail.com
						<!--
						<i class="fa fa-level-down"></i>
						-->
						</div></li>
                        
                        <li>Customer type<div class="text-success pull-right">Retainer
						<!--
						<i class="fa fa-level-up"></i>
						-->
						</div>
						<li><b>Address</b><div class="" style="margin-left:50%;margin-top:-8%;">12 Enterprise Building,<br/> Senapati Bapat Road, <br/>Pune , Maharashtra <br/>PIN- 411095.
						

						</div></li>					
						
                    </ul>				
                </div>
            </div>
		   	 <div class="clearfix"> </div>		   
		   </div>
		   </div>
	     </div>
      </div>      
   </div>  